div p {
    color: brown;
}

div ~p {  /* Tất cả những  thê p nào đứng sau cùng cấp thẻ div  dù có cách qua thẻ nào  */
    color: blue;
}

span +span {  /* Bắt tất cả những thẻ nào có thằng đứng trước liền kề cùng cấp nó là span*/ 
    color: yellow;
}

div +span {  /* Tất cả những  thê p nào đứng sau cùng cấp thẻ div  dù có cách qua thẻ nào  */
    color: red;
}